* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, serif;
    background-color: #020303;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    padding: 30px 0;
}


.logo {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    margin-left: 282px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 60px;

}

.menu ul li:first-child {
    margin-right: 58px;
}

.menu ul li:last-child {
    margin-right: 54px;
}

.menu a {
    font-size: 16px;
    color: rgb(253, 239, 213);
    line-height: 1.2;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 8px;
}

.menu a:hover {
    font-size: 16px;
    color: #ffaf18;
    line-height: 1.2;
    border-bottom: 2px solid #ffaf18;
    padding-bottom: 6px;
}

.sushi {
    font-size: 0;
    margin-top: 129px;
    margin-bottom: 200px;
}

.sushi-info {
    max-width: 586px;
    display: inline-block;
    vertical-align: top;
}

.sushi-title {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    margin-bottom: 74px;
}

.sushi-title .orange-text {
    color: #ffaf18;
}

.sushi-info-items {
    margin-bottom: 92px;
}

.sushi-info-item {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    display: inline-block;
}

.sushi-info-item:first-child {
    margin-right: 100px;
}

.sushi-info-item img {
    display: inline-block;
    vertical-align: middle;
}

.sushi-info-item-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.button {
    background-color: #ffaf18;
    border: none;
    font-size: 16px;
    color: rgb(2, 3, 3);
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    line-height: 1;
}

.button.main-button {
    padding: 22px 0 23px 0;
    width: 224px;
}

.button:hover {
    box-shadow: 0 10px 20px 5px rgba(255, 175, 24, 0.2);
}

.sushi-image {
    display: inline-block;
    max-width: 614px;
    vertical-align: top;
    margin-top: 32px;
}

.sushi-order {
    margin-bottom: 218px;
}

.sushi-order-title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.571;
    text-align: center;
    margin-bottom: 38px;
}

.sushi-order-items {
    font-size: 0;
    margin-left: -12px;
    margin-right: -12px;
}

.sushi-order-item {
    display: inline-block;
    background-color: white;
    width: 282px;
    text-align: center;
    vertical-align: top;
    border: 5px solid white;
    box-sizing: border-box;
    margin: 12px 12px;
    padding: 5px 0 10px 0;
}

.sushi-order-item:hover {
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
}

.sushi-order-item:first-child, .sushi-order-item:last-child {
    border: 5px solid #ed9b00;
}

.sushi-order-item-title {
    font-size: 18px;
    color: rgb(24, 26, 26);
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.sushi-order-item-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    text-align: center;
    margin: 13px 15px 15px 15px;
    height: 53px;
}

.button.button-order {
    padding: 17px 0 18px 0;
    width: 242px;
}


.about {
    margin-bottom: 67px;
}

.about-container {
    font-size: 0;
}

.about-info {
    display: inline-block;
    max-width: 384px;
    vertical-align: bottom;
    color: white;
}

.about-info-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 60px;
}

.about-info-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 90px;
}

.no-break {
    white-space: nowrap;
}

.about-info-more-title {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 40px;
}

.about-info-more-link {
    background-color: white;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    margin-right: 40px;
    padding-top: 11px;
    box-sizing: border-box;
}


.about-info-more-link:hover {
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
}

.about-info-more-link:visited {
    background-color: #bebebe;
}

.about-info-more-link:active {
    background-color: #ffaf18;
}

.about-image {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 48px;
}

.footer {
    background-color: #000;
    padding: 30px 0;
}

.footer-text {
    font-size: 12px;
    color: rgb(44, 44, 44);
    line-height: 1.2;
    margin-left: 390px;
    vertical-align: middle;
}
